@mixin bg_gradient($deg,$start,$end){
    background: $start; /* Old browsers */
    background: -moz-linear-gradient($deg, $start 0%, $start 50%, $end 50%, $end 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient($deg, $start 0%,$start 50%,$end 50%,$end 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient($deg, $start 0%,$start 50%,$end 50%,$end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin section_gradient($deg,$shade,$start,$end){
    background: $start; /* Old browsers */
    background: -moz-linear-gradient($deg, $start 0%, $start 50%, $shade 50%, $end 51%, $end 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient($deg, $start 0%,$start 50%,$shade 50%, $end 51%,$end 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient($deg, $start 0%,$start 50%,$shade 50%,$end 51%,$end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin container_shadow($lt,$rt,$rb,$lb,$color){
    box-shadow: $lt $rt $rb $lb $color;
    -webkit-box-shadow: $lt $rt $rb $lb $color;
    -moz-box-shadow: $lt $rt $rb $lb $color;
}